<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="IGRIS_C_ros2_control" params="name initial_positions_file">
        <xacro:property name="initial_positions" value="${xacro.load_yaml(initial_positions_file)['initial_positions']}"/>

        <ros2_control name="${name}" type="system">
            <hardware>
                <!-- By default, set up controllers for simulation. This won't work on real hardware -->
                <plugin>mock_components/GenericSystem</plugin>
            </hardware>
            <joint name="15_Joint_Shoulder_Pitch_Left">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['15_Joint_Shoulder_Pitch_Left']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="16_Joint_Shoulder_Roll_Left">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['16_Joint_Shoulder_Roll_Left']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="17_Joint_Shoulder_Yaw_Left">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['17_Joint_Shoulder_Yaw_Left']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="18_Joint_Elbow_Pitch_Left">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['18_Joint_Elbow_Pitch_Left']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="19_Joint_Wrist_Yaw_Left">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['19_Joint_Wrist_Yaw_Left']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="20_Joint_Wrist_Roll_Left">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['20_Joint_Wrist_Roll_Left']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="21_Joint_Wrist_Pitch_Left">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['21_Joint_Wrist_Pitch_Left']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="22_Joint_Shoulder_Pitch_Right">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['22_Joint_Shoulder_Pitch_Right']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="23_Joint_Shoulder_Roll_Right">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['23_Joint_Shoulder_Roll_Right']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="24_Joint_Shoulder_Yaw_Right">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['24_Joint_Shoulder_Yaw_Right']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="25_Joint_Elbow_Pitch_Right">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['25_Joint_Elbow_Pitch_Right']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="26_Joint_Wrist_Yaw_Right">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['26_Joint_Wrist_Yaw_Right']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="27_Joint_Wrist_Roll_Right">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['27_Joint_Wrist_Roll_Right']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="28_Joint_Wrist_Pitch_Right">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['28_Joint_Wrist_Pitch_Right']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>

        </ros2_control>
    </xacro:macro>
</robot>
